div.header-contact{
    background: url("img/header-contact.jpg");
    height: 50vh;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.header-contact h6{
    font-size: 50px;
    color: #ccc;
}

div.header-contact p{
    font-size: 30px;
    color: #ccc;
}

section.informations{
    display: flex;
    align-items: center;
    justify-content: center;
   height: 400px;
}

section.informations div.location,
section.informations div.contact-us,
section.informations div.email{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 390px;
    height: 190px;
    border-right: 1px solid #ccc;
    flex-direction: column;
}

section.informations div.email{
    border-right: none;
}

section.informations div.location svg,
section.informations div.contact-us svg,
section.informations div.email svg{
    width: 70px;
    fill: #ccc;
}

section.informations div.location h6,
section.informations div.contact-us h6,
section.informations div.email h6,
section.talk h6{
    font-size: 18px;
    margin-top: 5%;
    color: var(--primary);
}

section.informations div.location p,
section.informations div.contact-us p,
section.informations div.email p{
    font-size: 16px;
    margin-top: 5%;
    color: #969090;
}

section.talk{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

section.talk form div.form-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}