div.header-hiroshima{
    background: url("img/header-hiroshima.jpeg");
    height: 50vh;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.header-hiroshima h6{
    font-size: 50px;
    color: #ccc;
}

div.header-hiroshima p{
    font-size: 30px;
    color: #ccc;
}

div.content-one,
div.content-two{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
    flex-direction: column;
}

div.content-one h6,
div.content-two h6,
section.gallery h6{
    padding-top: 45px;
    font-size: 50px;
    color: var(--primary);
}

div.content-one p,
div.content-two p
{
    font-size: 20px;
    line-height: 30px;
}

section.gallery{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20%;
}