/*
	Theme Name: History Child
	Theme URI: http://lolthemes.com/demo/wpm/history/
	Description: History - Museum & Exhibition WordPress Theme
	Author: PremiumLayers
	Author URI: http://premiumlayers.net/
	Template: history
	Version: 1.0
	Tags: threaded-comments, theme-options, sticky-post, full-width-template, flexible-header, featured-images, custom-menu, custom-header, custom-colors, custom-background
	Text Domain: history-child
	License: GNU General Public License
	License URI: license.txt
*/

/* = Theme customization starts here
-------------------------------------------------------------- */